[submodule "ShadersForNx/Assets/Submodules/Logger"]
	path = ShadersForNx/Assets/Submodules/Logger
	url = https://rfedorov@gitlab.n-ix.com/unity-packages/logger.git
	branch = master
[submodule "ShadersForNx/Assets/Submodules/xcode-from-unity-editor"]
	path = ShadersForNx/Assets/Submodules/xcode-from-unity-editor
	url = https://rfedorov@gitlab.n-ix.com/unity-packages/xcode-from-unity-editor.git
	branch = master
